VITE_API_URL=/api
VITE_GRAFANA_URL=http://localhost:3001
VITE_PROMETHEUS_URL=http://localhost:9090
VITE_LOKI_URL=http://localhost:3100
VITE_API_DOCS_URL=/api/docs
VITE_DEMO_MODE=live
VITE_LOCAL_SERVICES_AVAILABLE=true
VITE_BASE_PATH=/
VITE_REPOSITORY_URL=https://github.com/itkrivoshei/production-app-infrastructure
