VITE_API_URL=http://localhost:8080
VITE_GRAFANA_URL=http://localhost:3001
VITE_PROMETHEUS_URL=http://localhost:9090
VITE_API_DOCS_URL=http://localhost:8080/docs
VITE_DEMO_MODE=live
VITE_BASE_PATH=/
VITE_REPOSITORY_URL=https://github.com/itkrivoshei/production-app-infrastructure
