APP_NAME=devops-control-center-api
APP_ENV=docker
APP_VERSION=0.1.0
COMMIT_SHA=local
LOG_LEVEL=info
ENABLE_DEMO_LOAD=true
ENABLE_DEMO_ERRORS=true

API_PORT=8080
NGINX_PORT=8088

VITE_API_URL=/api
VITE_API_DOCS_URL=/api/docs

VITE_PROMETHEUS_URL=http://localhost:9090
VITE_GRAFANA_URL=http://localhost:3001
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
LOKI_PORT=3100
